.person-cards {
    display: grid;
    justify-content: space-evenly;
    gap: 30px;    
    grid-template-columns: repeat(auto-fill, minmax(250px ,300px) ) ;
    margin-top: 100px;
}

.person-card-img {
    width: 100%;
}
.text-h-info h4 {
    margin: 10px 0;
    color: black;
}
.text-h-info h6 {
    font-weight: 200;
    color: var(--sc-color);
}
.person-cards .card {
    box-shadow: none;
}
.person-cards .in {
    position: relative;
    overflow: hidden;

}
.social-person {
    position: absolute;
    bottom: -60px;
    padding: 5px;
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    transition-duration: 0.5s;
}
.person-cards .card:hover .social-person {
    transform:translateY(-60px) ;
    -webkit-transform:translateY(-60px) ;
    -moz-transform:translateY(-60px) ;
    -ms-transform:translateY(-60px) ;
    -o-transform:translateY(-60px) ;
}