nav a {
    color: var(--main-color) !important;
    font-weight: 500;
    font-size: 17px;
}
nav a.home{
    color: var(--sc-color) !important;
}
nav a:hover {
    color: var(--sc-color) !important;
}

nav a.logo img {
    width: 150px ;
    height: 55px ;
}
.sc-dropdown {
    position: relative;
    left: 12px;
} 
.nav-link.active {
    color: var(--th-color) !important;
    
}
.dropdown-item:active {
    color: white !important;
    background-color: var(--main-color) !important;
}
.navbar {
    padding: 2px 1rem !important;
}
.navbar-toggler-icon {
    background-image: var(--mdb-navbar-toggler-icon-bg) !important;
}
